body {
    margin: 0;
    /* background: linear-gradient(to bottom, #09203f 0%, #537895 100%); */
    background-color: #537895;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 100%;
}

p, h1, h2, h3, li {
    margin: 0.5em 0;
}

* {
    box-sizing: border-box;
}


/* .back {
    position: fixed;
    width: 100%;
    height: 110%;
    background: linear-gradient(to bottom, #09203f 0%, #537895 100%);
    opacity: 0.85;
    z-index: -1;
} */

.home-top {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    /* flex-wrap: wrap; */
    /* padding: 2em; */
    background-color: rgba(255, 255, 255, 0.1);
    width: 100%;
    height: 110vh;
    overflow: hidden;
}

.me {
    margin: 0 0.6em;
    max-width: 65%;
}

.me img {
    border-radius: 50%;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    width: 100%;
    height: auto;
}

.home-top div {
    width: 35%;
    margin: 0 0.6em;
}

h1 {
    color: aliceblue;
    font-weight: normal;
    font-size: 3em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    justify-content: center;
  }
  

.tagline {
    font-size: 1.5em;
    font-weight: bold;
    color: #EAD3CB;
    display: flex;
    justify-content: center;
}

.bio, .education, .experience, .projects, .skills, .extra {
    padding: 2em;
    margin: 1em auto;
    max-width: 1000px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    height: auto;
    z-index: 10;
}

.bio2 {
    display: flex;
    flex-wrap: wrap;
}

.bio-data {
    flex: 1 1 30%;
    margin-right: 1em;
}

.bio-data ul {
    list-style-type: none;
    padding: 0;
}

.bio-data li {
    margin: 0.5em 0;
}

.about {
    flex: 2 1 70%;
    margin-left: 1em;
}

h2, h3 {
    color: #FFD700;
}

.school, .work {
    margin-bottom: 1em;
}

.contacts {
    padding: 2em;
    margin: 1em auto;
    max-width: 1000px;
    /* background-color: rgba(0, 0, 0, 0.5); */
    border-radius: 8px;
    height: auto;
    text-align: center;
} 
  
  /* Style the anchor tags (links) */
.contacts a {
    display: inline-block;
    margin: 10px;
    text-decoration: none;
    color: #333;
}

/* Style the images */
.contacts img {
    width: 48px;
    height: 48px;
}

/* Style the cite tags (link descriptions) */
.contacts cite {
    display: block;
    margin-top: 5px;
    color: #777;
}


@media (width < 800px) {
    .home-top {
        flex-direction: column;
        height: auto;

    }
    .me img {
        width: 100%;
        height: auto;
    }

}

@media screen and (min-width: 800px) {

    /* Define a keyframe animation called 'fadeInUp' */
    @keyframes fadeInUp {
        from {
            opacity: 0;
            transform: translateY(9%);
        }
  
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }
  
    /* Apply the animation to the 'home-top' and 'bio' sections */
    .home-top {
        animation: fadeInUp 2s ease-out;
        /* Use the 'fadeInUp' animation with a duration of 1.5 seconds and ease-out timing function */
        opacity: 0;
        /* Set initial opacity to 0 */
    }
  
  
    .home-top:not(.animated) {
        opacity: 0;
        /* Set initial opacity to 0 for elements not yet animated */
        animation: fadeInUp 2s ease-out forwards;
        /* Use the 'fadeInUp' animation with a duration of 1.5 seconds and ease-out timing function */
    }
  
    /* Add a class to mark elements that have been animated */
    .home-top.animated {
        opacity: 1;
        /* Ensure the final state remains visible after the animation ends */
    }
  }